/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 5 may 2025, 9:59:38
    Author     : Kris
*/

.table-view {
    -fx-background-color: transparent;
    -fx-font-family: "Arial";
}

/* Encabezados de columna */
.table-view .column-header-background {
    -fx-background-color: #8000FF;
    -fx-background-radius: 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
   
}

/* Celdas */
.table-view .table-cell {
    -fx-padding: 0px;
    -fx-border-color: transparent;
    -fx-border-radius: 8;
    -fx-alignment: CENTER_LEFT;
}

.tabla-especial .table-cell
{
    -fx-padding: 8px;
}

/* Filas alternadas (Zebra Stripe) */
.table-row-cell:even {
    -fx-background-color: #f9f9f9;
}

.table-cell{
    -fx-font-weight: bold;
    -fx-text-overflow: "";
}

.table-view .scroll-bar:horizontal
{
    -fx-opacity: 0;
    -fx-pref-height: 0;
}
.table-row-cell:odd {
    -fx-background-color: white;
}

/* Hover y selección */
.table-row-cell:hover {
    -fx-background-color: rgba(128, 0, 255, 0.1);
    -fx-background-radius: 8;
}

.table-row-cell:selected {
    -fx-background-color: #ce9dff;
    -fx-text-fill: white;
}


.table-view .column-header .label {
    -fx-text-fill: white !important;
    -fx-alignment: CENTER_LEFT !important;
    -fx-font-weight: bold;
    -fx-padding: 5px;
}