/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 21 may 2025, 16:18:42
    Author     : Kris
*/

/* Estilo base del ComboBox */
.combo-box {
    -fx-background-color: transparent;
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

/* Estilo cuando está desplegado */
.combo-box-popup .list-view {
    -fx-background-color: white;
    -fx-border-color: #ced4da;
}

/* Estilo de los items en la lista */
.combo-box-popup .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #212529;
}

/* Estilo hover para items */
.combo-box-popup .list-cell:hover {
    -fx-background-color: #8000ff;
    -fx-text-fill: white;
}

