/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 2 may 2025, 18:36:01
    Author     : Kris
*/

.check-box:focused
{
    -fx-color:  #8000ff;
    -fx-focused-color: white;
}

.check-box .box
{
    -fx-background-color: #8000ff;
    -fx-shadow-hightlight-color: #ce9dff;
    -fx-outer-border: #ce9dff;
    -fx-body-color: #9a9a9a;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-background-radius: 2,2,1,1;
    
}

.check-box:focused .box
{
    -fx-background-insets: -1.4,0,1,2;
    -fx-background-radius: 3,4,2,1,1;
}

.check-box:hover .box
{
    -fx-color: #9d4024;
    -fx-hover-base: #7ebcea;
}

.check-box .mark
{
    -fx-background-insets: 1 0 -1 0 0;
}

.check-box:indeterminate .mark
{
    -fx-background-color: #2a2b2a;
    -fx-mark-highlight-color: #395cab;
    -fx-scale-shape: true;
}

.check-box:selected .mark
{
    -fx-background-color: white;
}

