/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 2 may 2025, 18:36:01
    Author     : Kris
*/

.check-box:focused
{
    -fx-color:  #8000ff;
    -fx-focused-color: #8000ff;
}

.check-box .box
{
    -fx-background-color: white;
    -fx-shadow-hightlight-color: #8000ff;
    -fx-outer-border-color: #8000ff;
    -fx-body-color: #8000ff;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-background-radius: 2,2,1,1;
    
}

.check-box:focused .box
{
  
    -fx-background-radius: 3,4,2,1,1;
}

.check-box:hover .box
{
    -fx-color: #8000ff	;
    -fx-hover-base: #8000ff	;
}

.check-box .mark
{
    -fx-background-insets: 1 0 -1 0 0;
}

.check-box:indeterminate .mark
{
    -fx-background-color: #8000ff;
    -fx-mark-highlight-color: #8000ff;
    -fx-scale-shape: true;
}

.check-box:selected .mark
{
    -fx-background-color: #8000ff;
}

